    body {
        font-family: 'Roboto',sans-serif;
        color: #434455;
        background: #FFFFFF;
    }
    
    h1, h2, h3, h4, h5, h6, p, ul {
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    .container{
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;

    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
        }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .header {
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #e7e9fc
    }

.header-container {
    display: flex;
    align-items: center;
    width: 1158px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.03em;
color: #4d5ae5;
padding: 24px;
margin-right: 76px;
}

.header-logo-italic {
color: #2e2f42;
font-family: "Raleway", sans-serif;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus {
color:#404bbf;
}

.header-address{
    font-style: normal;
    display: flex;
}

.header-address-list {
    display: flex;
    gap: 40px;
    padding: 24px;
}
.header-address-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    gap: 40px;
}
.header-address-contacts:hover,
.header-address-contacts:focus {
    color: #404bbf;
}

.hero {
background-color: #2e2f42;
padding: 188px 0;
}

.container-wrapper {
padding: 0 472px;
}

.hero-title {
max-width: 496px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;
text-align: center;
margin: 0 auto;
margin-bottom: 48px;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    margin: 48px auto;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px;
}
.hero-btn:hover,
.hero-btn:focus{
    background: #404bbf;
}

.strategy{
padding: 120px 0;
}

.strategy-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding-left: 0;
}

.strategy-item {
    flex-basis: calc((100% - 72px) / 4);
}

.strategy-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.strategy-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-top: 8px;
}

.team {
background-color: #f4f4fd;
padding: 120px 0;
}

.team-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;

}

.team-list {
    display: flex;
    margin-top: 72px;
    padding-left: 157px;
    gap: 24px;
}

.team-item {
background-color: #FFFFFF;
flex-basis: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
}

.team-container {
    padding: 32px 0;
}
.team-list-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 32px;
text-align: center;
margin-bottom: 8px;
}

.team-list-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding-bottom: 32px;
text-align: center;
}

.port{
padding-top: 120px;
padding-bottom: 120px;
}

.port-container{
    max-width: 1128px;
    margin: o auto;
    width: 100%;
    row-gap: 48px;
}

.port-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.port-list-item {
    width: calc((100% - 48px) / 3);
}

.port-descrp {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.port-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}

.port-list-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px
}

.port-list-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer {
background-color: #2e2f42;
padding: 100px 0;

}
.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding-left: 156px;
margin-bottom: 16px;
display: inline-block;
}

.footer-logo-italic{
color: #f4f4fd;
}

.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding-left: 156px;
}