    body {
        font-family: 'Roboto',sans-serif;
        color: #434455;
        background: #FFFFFF;
    }
    
    h1, h2, h3, h4, h5, h6, p, ul {
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    .container{
        width: : 1440px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;

    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
        }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.03em;
color: #4d5ae5;
}

.header-logo-italic {
color: #2e2f42;
font-family: "Raleway", sans-serif;
}

.header-menu-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
color:#404bbf;
}

.header-address{
    font-style: normal;
}
.header-address-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-address-contacts:hover,
.header-address-contacts:focus {
    color: #404bbf;
}

.hero {
background-color: #2e2f42;
margin-bottom: 120px;
}

.hero-wrapper {
padding: 188px 472px 188px 472px;   
}

.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #fff;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4d5ae5;
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus{
    background: #404bbf;
}

.strategy{

}

.strategy-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.strategy-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


.team {
background-color: #f4f4fd;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.team-item {
background-color: #FFFFFF;
}

.team-list-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.team-list-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.port{
}
.port-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.port-list-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.port-list-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer {
background-color: #2e2f42;
}
.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.footer-logo-italic{
color: #f4f4fd;
}

.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}